<%= form_for(@scheduled_shout) do |f| %>
  <% if @scheduled_shout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scheduled_shout.errors.count, "error") %> prohibited this shout from being saved:</h2>

      <ul>
      <% @scheduled_shout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :admin %>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :lat %>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lng %>
    <%= f.text_field :lng %>
  </div>
  <div class="field">
    <%= f.label :date_and_time_GMT %>
    <%= f.datetime_select :scheduled_time %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :pseudo %>
    <%= f.text_field :display_name %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit 'Schedule' %>
  </div>

  <% if @notice %>
    <p class="flash-notice"><%= @notice %></p>
  <% end %>
<% end %>